@import './styles/design_tokens.css';

/* Global Reset & Utils */
* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  font-family: inherit;
}